<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/vafterloginlayout :: vafterloginlayout (~{::body},'addRegister')}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="#">
    <link rel="stylesheet" href="stylesheets/profilevolunteer.css">
    <title>Update Registration Form</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body style="background-color: #dfdfdf">
    <div class="container mt-3" style="height: 100%">
        <div class="card col-12 mt-3 mx-auto" style="width: 75rem; background-color: #dfdfdf">
            <div class="card-body">
                <div class="container-fluid mt-2 justify-content-center rounded p-2" style="background-color: #dfdfdf">
                    <p class="text-capitalize text-center mt-3 fw-bold" style="font-family: sans-serif; font-size: 24px; font-weight: bold;">
                        PLEASE READ THE FORM CAREFULLY
                    </p>

                    <div class="container mt-5">

                        <div class="row justify-content-center">
                        <div class="col-md-8">
                        <h2 class="text-center">Create Registration</h2>

                        <form th:action="@{/addRegister(pid=${programs.pid})}" th:object="${programs}" method="post"  enctype="multipart/form-data">
                            
                            <div class="col-sm-10">
                                <input type="hidden" th:value="${programs.pid}" class="form-control" name="pid" id="pid" >
                            </div>

                            <!-- <div class="col mb-3">
                                <label for="programimage" class="col-sm-2 col-form-label">Image</label>
                                <div class="col-sm-10">
                                    <div class="mt-2">
                                        <img th:src="${programs.imageSrc}" alt="Program Image" style="width: 250px; height: 150px;">
                                    </div>
                                </div>
                            </div> -->
                            

                            <div class="col mb-3">
                                <label for="programname" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="programname" th:value="${programs.pname}" placeholder="Program name" id="programname" readonly  required>
                                </div>
                            </div>

                            <div class="col mb-3">
                                <label for="programdesc" class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="programdesc" th:value="${programs.pdesc}" placeholder="Description" id="programdesc" readonly  required>
                                </div>
                            </div>

                            <div class="col mb-3">
                                <label for="programvenue" class="col-sm-2 col-form-label">Venue</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="programvenue" th:value="${programs.pvenue}" placeholder="Venue" id="programvenue" readonly required>
                                </div>
                            </div>

                            <div class="col mb-3">
                                <label for="programtime" class="col-sm-2 col-form-label">Time</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="programtime" th:value="${programs.ptime}" placeholder="Time" id="programtime" readonly  required>
                                </div>
                            </div>

                            <div class="col mb-3">
                                <label for="programdate" class="col-sm-2 col-form-label">Date</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" name="programdate" th:value="${programs.pdate}" placeholder="Date" id="programdate"  disabled  required>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1" required>
                                        <label class="form-check-label" for="gridCheck1">
                                            This action cannot be undone 
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Create Registration</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"></script>
    <script>
        flatpickr("#programdate", {
            dateFormat: "Y-m-d",
            minDate: "today"
        });
    </script>
</body>
</html>
