<!DOCTYPE html> 
<html lang="en" th:replace="~{fragments/volunteerlayout :: volunteerlayout (~{::body},'signup')}"> 
<head> 

    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="icon" href="#"> 
    <title>Sign Up Volunteer Platform</title> 
    <link rel="stylesheet" href="stylesheets/signup.css"> 
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</head> 

<body style="background-color:#dfdfdf;"> 
    <!-- <nav class="navbar navbar-expand-lg"> 
        <div class="container-fluid"> 
          <a class="navbar-brand" href="#">FILANTROPI FAKIR GELANDANGAN</a> 
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon"></span> 
          </button> 
          <div class="d-flex justify-content-end" id="navbarNav"> 
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
              </li>
            </ul>
          </div> 
        </div> 
    </nav>  -->
 
    <div class="container-fluid" style="background-color:#dfdfdf;"> 
        <div class="container-fluid card col-7 mt-4" style="background-color:#dfdfdf;"> 
            <form  
              style="margin: 40px 40px 43px 40px;" 
              class="p-3"  
              method="post"  
              th:action="@{/signup}"  
              modelAttribute="signup" 
              > 
              <h1>CREATE YOUR ACCOUNT</h1> 
              <div class="col-12"> 
                <label for="InputFullName">Full Name</label> 
                <input type="fullname"  
                  class="form-control" 
                  id="InputFullName"  
                 aria-describedby="fullnameHelp"  
                 name="name"
                 required> 
              </div> 
              
              <div class="col"> 
                <label for="InputEmail">Email:</label> 
                <input type="email"  
                 class="form-control"  
                 id="InputEmail"  
                 placeholder="abc@gmail.com"
                 aria-describedby="usernameHelp"  
                 name="email"
                 required> 
              </div> 

              <div class="col"> 
                <label for="InputPhonenum">Phone Number</label> 
                <input type="tel" 
                       placeholder="0123456789" 
                       class="form-control"  
                       id="InputPhonenum"
                       pattern="\d{10,11}"  
                       maxlength="11"  
                       name="phonenum" required
                       oninput="this.value = this.value.replace(/\D/g, '')"> 
            </div> 

            <div class="col"> 
              <label for="InputIcnumber">Identity Card Number(IC):</label> 
              <input type="text"  
                     class="form-control"  
                     id="InputUsername"  
                     placeholder="000000-10-1111"
                     aria-describedby="usernameHelp"  
                     name="icnum"
                     onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                     oninput="this.value = this.value.replace(/\D/g, '').replace(/(\d{6})(\d{2})(\d{4})/, '$1-$2-$3')"
                     maxlength="14"
                     required> 
          </div>

          <div class="col"> 
            <label for="Birthdate">Birth Date</label> 
            <input type="text"  
                   class="form-control"  
                   id="Inputbirthdate"  
                   aria-describedby="birthdateHelp"  
                   placeholder="YYYY-MM-DD"  
                   name="birthdate"
                   required>
        </div> 

        <div class="col"> 
          <label for="Age">Age</label> 
          <input type="text"  
                 class="form-control"  
                 id="InputAge"  
                 aria-describedby="ageHelp"  
                 name="age"
                 readonly>
      </div> 
      <script>
          // Initialize Flatpickr for the input field with ID 'Inputbirthdate'
          flatpickr("#Inputbirthdate", {
              dateFormat: "Y-m-d", // Date format
              maxDate: "2006-01-01", // Set maximum date to January 1st, 2006
              onChange: function(selectedDates, dateStr, instance) {
                  // Calculate age
                  const birthdate = new Date(dateStr);
                  const today = new Date();
                  const age = today.getFullYear() - birthdate.getFullYear();
                  document.getElementById("InputAge").value = age;
              }
          });
      </script>
          
               
              <div class="row mt-3"> 
                <div class="col"> 
                  <label for="InputUsername">Username</label> 
                  <input type="username"  
                   class="form-control"  
                  id="InputUsername"  
                  aria-describedby="phonenumberHelp"  
                  placeholder="example: johndoe"  
                  name="username"
                  required> 
                </div> 

                <div class="col"> 
                  <label for="InputPassword">Password</label> 
                  <input type="password"  
                   class="form-control"  
                   id="InputPassword"    
                   placeholder="#####"  
                   name="password"
                   required> 
                </div> 
                <!-- <div class="col"> 
                  <label for="InputValidity">Validity License</label> 
                  <input type="validitylicensedate"  
                  class="form-control"  
                  id="InputValidity"  
                  aria-describedby="validityHelp"  
                  placeholder="YYYY-MM-DD"  
                  name="licensedate"
                  required>
                </div> 
                <script>
                  // Initialize Flatpickr for the input field with ID 'InputValidity'
                  flatpickr("#InputValidity", {
                      dateFormat: "Y-m-d", // Date format
                      minDate: "today", // Restrict date selection to today onwards
                  });
                </script> -->


              </div> 

              

              
              
              <!-- <div class="col"> 
                <label for="InputIcnumber">Identity Card Number(IC):</label> 
                <input type="icnumber"  
                 class="form-control"  
                 id="InputUsername"  
                 placeholder="000000101111"
                 pattern="\d{6}-\d{2}-\d{4}"
                 min="0"
                 aria-describedby="usernameHelp"  
                 name="icnumber"
                 maxlength="14"
                 required> 
              </div>  -->

              
            

              <!-- <div class="col"> 
                <label for="InputPhonenum">Phone Number</label> 
                <input type="text" 
                 placeholder="0123456789" 
                 class="form-control"  
                 id="InputPhonenum"
                pattern="\d{10,11}"  
                maxlength="11"  
                name="phonenumC" required> 
              </div>  -->

              <!-- <div class="col"> 
                <label for="Birthdate">Birth Date</label> 
                <input type="text"  
                       class="form-control"  
                       id="Inputbirthdate"  
                       aria-describedby="birthdateHelp"  
                       placeholder="YYYY-MM-DD"  
                       name="birthdate"
                       required>
            </div> 
            <script>
                // Initialize Flatpickr for the input field with ID 'Inputbirthdate'
                flatpickr("#Inputbirthdate", {
                    dateFormat: "Y-m-d", // Date format
                    minDate: "2006-01-01", // Set minimum date to January 1st, 2006
                });
            </script>

             

            <div class="col"> 
                <label for="Age">Age</label> 
                <input type="birthdate"  
                class="form-control"  
                id="Inputbirthdate"  
                aria-describedby="birthdateHelp"  
                placeholder="YYYY-MM-DD"  
                name="birthdate"
                required>
            </div>  -->

            

          
          
                
 
            <button type="submit" class="btn btn-dark col-10 mx-5 mt-4" style="margin-bottom: 10px; ">SIGN UP</button>

            </form> 
        </div> 
    </div> 
      <!-- <footer class="py-3 bg-dark text-white mt-4 fixed-bottom"> 
        <div class="container"> 
          <p class="m-0 text-center">Copyright &copy; 2023 <a href="#">DZ EMPIRE CAR RENTAL</a></p> 
        </div> 
      </footer>  -->
         
</body> 
  <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js}" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script> 
  <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js}" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script> 
  <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> 
</html>